<p id="notice"><%= notice %></p>

<p>
  <strong>Parametro:</strong>
  <%= @config.parametro %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @config.descricao %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @config.valor %>
</p>

<%= link_to 'Edit', edit_config_path(@config) %> |
<%= link_to 'Back', configs_path %>
