<h2>Editar</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
<br>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <label for="user_passwprd">Senha</label><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <br />
  <div class="field">
    <label for="password_confirmation">Confirmarção Senha</label><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <br />
  <div class="field">
     <label for="current_password">Senha atual</label><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
<br>

<label for="admin">Administrador</label><br />
<%= f.check_box :admin %>
  

  <br>
  <div class="actions">
    <%= f.submit "Atualizar", :class=>"btn btn-info" %>
  </div>
<% end %>


