

<%= form_for '',:html => {:target=>'new_section_frame'}, :url => receipt_customers_path(format: :pdf), :method => :post do |f| %>








 <div class="row">
	<div class="col-md-5">    
	 <label class="field">Tipo</label>
	<%= radio_button_tag("tipo", "Todos",checked = true, options = {} ) %> Todos	 
	<%= radio_button_tag("tipo", "Grupo", ) %> Grupo 	
	<%= radio_button_tag("tipo", "Individual", ) %>	Individual
	
	</div>
</div>
<br>

 <div id="groups"></div>

 <div id="one"></div><br>


 <div class="row">
	<div class="col-md-5">    
	 <label class="field">Descrição</label>
	 <%= text_area_tag(:texto,nil,:rows => 10, :cols => 100)%>	
	</div>
</div>
<br>
 
  <div class="actions">
    <%= f.submit "Criar", :class=>"btn btn-success" %>
  </div>
<% end %>


