<tr id="customer_<%= customer.id %>">
	<td><label class="fields-show-view"><%= customer.id %></label></td>
	<td><label class="fields-show-view"><%= customer.razao %></label></td>
	<td><label class="fields-show-view"><%= customer.iss %></label></td>
	<td><label class="fields-show-view"><%= customer.get_cnpj %></label></td>
	<td><label class="fields-show-view"><%= customer.cei %></label></td>
	<td><label class="fields-show-view"><%= customer.cgf %></label></td>
	
	<td>	
		<label class="fields-show-view">
			<%= number_to_percentage(customer.honorarios, precision: 3) if customer.honorarios.present? %>
		</label>
	</td>
	<td>
		<label class="fields-show-view">
			<%= customer.desde.strftime("%d/%m/%Y") if customer.desde.present?%></label>
		</td>
	<td>
		<label class="fields-show-button">
			<%= link_to 'Exibir', customer, remote: true,class: "btn btn-sm btn-default" %>
		</label>	
	</td>
	<td>
		<label class="fields-show-button">
			<%= link_to 'Editar', edit_customer_path(customer), remote: true, :class => 'btn btn-sm btn-primary' %>
			</label>
	</td>
	<td>
		<label class="fields-show-button">
			<%= link_to 'Excluir', customer, remote: true, :method => :delete, data: {confirm: "Excluir cliente: #{customer.razao} ?"}, :class => 'btn btn-sm btn-danger' %>
			</label>
	</td>
</tr>