

<%= form_for(@customer, remote: true, :html => { :role => "form" }) do |f| %>
<div id="error_explanation" class="bg-danger text-danger">
</div>
<% if @customer.errors.any? %>
<div id="error_explanation2">
  <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>
  <ul>
    <% @customer.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="field">
  <%= f.label :razao %><br>
  <%= f.text_field :razao, required: true %>
</div>
<div class="field">
  <%= f.label :iss %><br>
  <%= f.text_field :iss,:maxlength => 14 %>
</div>
<div class="field">
  <%= f.label :cnpj %><br>
  <%= f.text_field :cnpj,:maxlength => 14  %>
</div>
<div class="field">
  <%= f.label :cei %><br>
  <%= f.text_field :cei,:maxlength => 12 %>
</div>
<div class="field">
  <%= f.label :cgf %><br>
  <%= f.text_field :cgf,:maxlength => 14 %>
</div>
<div class="field">
  <%= f.label :cod %><br>
  <%= f.text_field :cod,:maxlength => 30 %>
</div>
<div class="field">
  <%= f.label :logradouro %><br>
  <%= f.text_field :logradouro %>
</div>
<div class="field">
  <%= f.label :numero %><br>
  <%= f.text_field :numero %>
</div>
<div class="field">
  <%= f.label :bairro %><br>
  <%= f.text_field :bairro %>
</div>
<div class="field">
  <%= f.label :complemento %><br>
  <%= f.text_field :complemento %>
</div>
<div class="field">
  <%= f.label :municipio %><br>
  <%= f.text_field :municipio %>
</div>
<div class="field">
  <%= f.label :estado %><br>
  <%= f.text_field :estado %>
</div>
<div class="field">
  <%= f.label :telefone %><br>
  <%= f.text_field :telefone %>
</div>
<div class="field">
  <%= f.label :telefone2 %><br>
  <%= f.text_field :telefone2 %>
</div>
<div class="field">
  <%= f.label :telefone3 %><br>
  <%= f.text_field :telefone3 %>
</div>
<div class="field">
  <%= f.label :celular %><br>
  <%= f.text_field :celular %>
</div>
<div class="field">
  <%= f.label :celular2 %><br>
  <%= f.text_field :celular2 %>
</div>
<div class="field">
  <%= f.label :email %><br>
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :email2 %><br>
  <%= f.text_field :email2 %>
</div>
<div class="field">
  <%= f.label :contato %><br>
  <%= f.text_field :contato %>
</div>
<div class="field">
  <%= f.label :contato2 %><br>
  <%= f.text_field :contato2 %>
</div>
<div class="field">
  <%= f.label :endereco_coleta %><br>
  <%= f.text_field :endereco_coleta %>
</div>
<div class="field">
  <%= f.label :honorarios %><br>
  <%= f.text_field :honorarios %>
</div>
<div class="field">
  <%= f.label :desde %><br>
  <% if @customer.new_record? %>
  <%= text_field 'customer',:desde,:value => Time.now.strftime("%d/%m/%Y") %>
  <% elsif @customer.desde.present? %>
  <%= text_field 'customer',:desde,:value => @customer.desde.strftime("%d/%m/%Y")  %>
  <% else @customer.desde.present? %>
  <%= text_field 'customer',:desde %>
  <% end %>
</div>
<div class="form-group">
  <%= f.submit  @customer.new_record? ? "Create Create" : "Update Customer", :class => "btn btn-primary" %>
</div>
</div>
</div>
<% end %>



        

    <script type="text/javascript">
        $(document).ready(function() {
          $('#customer_desde').datepicker({
          todayBtn: "linked",
          language: "pt-BR",
          autoclose: true,
          todayHighlight: true
        });
               
     });
    </script>