<h3><%= @customer.razao %></h3>

<% if @customer.logradouro.present? or @customer.municipio.present? %>
	<i class='glyphicon glyphicon-home'></i>
	<%= @customer.address %>
	<br>
<% end %>

<% if @customer.celular.present? or @customer.celular2.present?%>
	<i class='glyphicon glyphicon-phone'></i>
	<%= @customer.mobilephone_numbers %>	
<% end %>

<% if @customer.telefone.present? or @customer.telefone2.present? or @customer.telefone3.present? %>
	<i class='glyphicon glyphicon-phone-alt'></i>
	<%= @customer.phone_numbers %>
	<br>
<% end %>

<% if @customer.email.present? or @customer.email2.present? %>
	<i class='glyphicon glyphicon-envelope'></i>
	<%= @customer.mail %>
	<br>
<% end %>
<br>
<% if @customer.endereco_coleta.present? %>
	Endereço coleta: <%= @customer.endereco_coleta %>
	<br>
<% end %>

<% if @customer.desde.present? %>
	Cliente desde: <%= @customer.since %> <k class="desde-small">(<%= time_ago_in_words(@customer.desde) %>)</k>
	<br>
<% end %>

<br/>

<table class="table table-bordered table-striped table-sm">
	
	<th>Código acesso</th>
	<th>% honorários</th>
	<tr>
		<td><%= @customer.cod if @customer.cod.present? %></td>
		<td><%= number_to_percentage(@customer.honorarios, precision: 3) if @customer.honorarios.present? %></td>
	</tr>
	
	<th>CNPJ</th>
	<th>ISS</th>
	<tr>
		<td><%= @customer.cnpj if @customer.cnpj.present? %></td>
		<td><%= @customer.iss if @customer.iss.present? %></td>
	</tr>
	<th>CGF</th>
	<th>CEI</th>
	<tr>
		<td><%= @customer.cgf if @customer.cgf.present? %></td>
		<td><%= @customer.cei if @customer.cei.present? %></td>
	</tr>
</table>


