<% if notice %><p class="alert alert-success"><%= notice %></p><% end %>
<h1>Clientes</h1>
<p>

<div class="row no-more-tables">
  <div class="col-sm-2  navbar-form ">
      <%= link_to 'Novo Cliente', new_customer_path , class: "btn btn-success"%>
  </div>
    <div class="col-sm-2 navbar-form pull-right">
      <%= render "search" %>
  </div>
</div>


<div id="no-more-tables">
    <table class="col-md-12 table-bordered table-striped table-condensed cf table">
      <thead>
      <th><%= sort_link @search, :id, "Código Cliente" %></th>
      <th><%= sort_link @search, :razao, "Razão Social" %></th>
      <th><%= sort_link @search, :iss, "ISS" %></th>
      <th><%= sort_link @search, :cnpj, "CNPJ" %></th>
      <th><%= sort_link @search, :cei, "CEI" %></th>
      <th><%= sort_link @search, :cgf, "CGF" %></th>
      <th><%= sort_link @search, :cod, "Código acesso" %></th>     
      <th>Honorarios</th>
      <th>Cliente Desde</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= customer.razao %></td>
        <td><%= customer.iss %></td>
        <td><%= customer.cnpj %></td>
        <td><%= customer.cei %></td>
        <td><%= customer.cgf %></td>
        <td><%= customer.cod %></td>
        <td><%= customer.honorarios %></td>        
        <td><%= customer.desde.strftime("%d/%m/%Y") %></td>
        <td><%= link_to 'Show', customer %>
        <%= link_to 'Edit', edit_customer_path(customer) %>
        <%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<div class="row">
  <div class="col-md-1">
    <%= select_tag :per_page, options_for_select([params[:pagination].to_i,params[:pagination].to_i*2,params[:pagination].to_i*5,250,'Todos'], params[:per_page].to_i),
       :onchange => "if(this.value){window.location='?per_page='+this.value;}" ,:class=>"form-control input-sm position-to-pagination"%>
  </div>
  <div class="col-md-6">       
    <%= will_paginate @customers, renderer: BootstrapPagination::Rails %>
  </div>
         
  <div class="total position-to-pagination">
    <b>Total: </b>(<%= @total %>)
    <b> - Paginação: </b>(<%= @ppage %>)
  </div>
</div>    



