<div class="container">

  <h1 class="section">Clientes</h1>
<div class="row no-more-tables">
  <div class="col-sm-2  navbar-form ">
    <%= link_to "Novo cliente", new_customer_path, remote: true, class: "btn btn-success fields-show-button" %>
  </div>
  <div class="new-customer"></div>

  <div class="col-sm-2 navbar-form pull-right">
      <%= render "search" %>
  </div>
</div>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th><label class="section"><%= sort_link @search, :id, "Código Cliente" %></label></th>
      <th><label class="section"><%= sort_link @search, :group_id, "Grupo" %></label></th>
      <th class="col-xs-3"><label class="section"><%= sort_link @search, :razao, "Razão Social" %></label></th>
      <th><label class="section"><%= sort_link @search, :iss, "ISS" %></label></th>
      <th><label class="section"><%= sort_link @search, :cnpj, "CNPJ" %></label></th>
      <th><label class="section"><%= sort_link @search, :cei, "CEI" %></label></th>
      <th><label class="section"><%= sort_link @search, :cgf, "CGF" %></label></th>

      <% if current_user.admin? %>
        <th><label class="section">Honorarios</label></th>
      <% end %>

      <th><label class="section">Cliente Desde</label></th>
      <th colspan="3"><label class="section">Ação</label></th>
    </tr>
    </thead>
    <tbody id="customers">
      <%= render @customers %>
    </tbody>
  </table>

  <%= render 'dialog' %>



<div class="row">
  <div class="col-md-1 pull-right">
    <%= select_tag :per_page, options_for_select(['',5,10,20,50,'Todos'], params[:per_page].to_i),
         :onchange => "if(this.value){window.location=window.location.href+'&per_page='+this.value;}" ,:class=>"form-control input-sm"%>
  </div>
  
  <div class="total position-to-pagination">
    <b>Total: </b>(<%= @total %>)
    <b> - Paginação: </b>(<%= @ppage %>)
  </div>
</div>

<div class="pull-right">
  <% if @customers.size >0 %>
    <%= will_paginate @customers, renderer: BootstrapPagination::Rails %>
  <% end %>
</div>           