<p id="notice"><%= notice %></p>

<p>
  <strong>Razao:</strong>
  <%= @customer.razao %>
</p>

<p>
  <strong>Iss:</strong>
  <%= @customer.iss %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @customer.cnpj %>
</p>

<p>
  <strong>Cei:</strong>
  <%= @customer.cei %>
</p>

<p>
  <strong>Cgf:</strong>
  <%= @customer.cgf %>
</p>

<p>
  <strong>Cod:</strong>
  <%= @customer.cod %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @customer.logradouro %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @customer.numero %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @customer.bairro %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @customer.complemento %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @customer.municipio %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @customer.estado %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @customer.telefone %>
</p>

<p>
  <strong>Telefone2:</strong>
  <%= @customer.telefone2 %>
</p>

<p>
  <strong>Telefone3:</strong>
  <%= @customer.telefone3 %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @customer.celular %>
</p>

<p>
  <strong>Celular2:</strong>
  <%= @customer.celular2 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Email2:</strong>
  <%= @customer.email2 %>
</p>

<p>
  <strong>Contato:</strong>
  <%= @customer.contato %>
</p>

<p>
  <strong>Contato2:</strong>
  <%= @customer.contato2 %>
</p>

<p>
  <strong>Endereco coleta:</strong>
  <%= @customer.endereco_coleta %>
</p>

<p>
  <strong>Honorarios:</strong>
  <%= @customer.honorarios %>
</p>

<p>
  <strong>Desde:</strong>
  <%= @customer.desde %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
