<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @product.Nome %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.Price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
