<!DOCTYPE html>
<html>
  <head>
    <title>SGCli</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container bordered">
      <% if controller_name != 'sessions' && current_user.present? %>
        <%= render 'composer/menu' %>
      <% end %>
      <div id="modal-holder"></div>
      <%= render 'composer/dialog' %>
      <%= yield %>
    </div>
   <%= render 'composer/footer' %> 
    
  </body>
</html>