<!DOCTYPE html>
<html>
<head>
  <title>SGCli</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
	<div class="container">
	<div id="modal-holder"></div>
	
	<% if controller_name != 'sessions' %>
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
  <% end %>

		<%= yield %>
	</div>			

</body>
</html>
